
# Dependencies
node_modules/

# Env
.env

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Reports (generated in CI)
reports/cucumber-report.json
reports/html/

# OS
.DS_Store